<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853444818667-d6jdteovc0ki5ka4j5ujtst67erg9tel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853444818667-d6jdteovc0ki5ka4j5ujtst67erg9tel</string>
	<key>API_KEY</key>
	<string>AIzaSyAFNQyMbFvDLK0oRYkft8zRYXKIB4XdSXY</string>
	<key>GCM_SENDER_ID</key>
	<string>853444818667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darthive.cleanArchitectureGetxFirebase</string>
	<key>PROJECT_ID</key>
	<string>test-apps-7f706</string>
	<key>STORAGE_BUCKET</key>
	<string>test-apps-7f706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853444818667:ios:db61b038b60442ce1930ae</string>
</dict>
</plist>